.timer-main{
    margin-top: 20px;
}

.all-timer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.timer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}